body{
    font-family: 'Merriweather', serif; 
    width: 1190px;  
}
/* first section */
.container{
   width: 1190px;
   height: 600px;
   background: linear-gradient(  180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/resources/Banner\ Image.png');
   border-radius: 16px;
   background-size: cover;
   background-position: center;
   position: relative;
   margin: 0 35px 0 37px;
}
.banner-text{
padding-top: 130px;
}
#firtsheading{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#secondheading{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    margin: 0 auto;
}
/* second section */
.discount-container{
    text-align: center;
}
.discount-one{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 85px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}
.discount-two{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.discount-three{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.new-year{
    /* width: 800px;
    height: 500px; */
}

/* third section */
.party-container{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('/resources/Vectorrr.png');
    width: 1190px;
    height: 600px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 130px 35px 0 37px;
    
}
.party-container{
   
}

.party-heading{
    color: #FFF;
    font-family: Merriweather;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    width: 440px;
    margin: 80px 0 0 120px;
    padding-top: 170px;
   
}

.party-paragraph{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    width: 400px; 
    margin: 20px 0 0 120px;
}
.btn-join{
    margin: 30px 0 0 120px;
    color: #FFF;
    background-color:#F00;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.wecome-newyear{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    justify-content: center;
    align-items: center;
    float: right;
    padding: 68px 80px 67px 0;   
}

/* fourth section */
.location-container{
    padding-top: 80px;
    width: 1190px;
    height: 350px;
    color:#FF0000;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 130px 35px 0 37px;
    border-radius: 16px;
    background-size: cover;
}
.location-heading{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;   
}
.orange-party{
    color: #F00;
}
.btn-loacation{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
}